.th-card-header{
    font-size: 24px;
    color: #323c47;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

button:focus, button:active,input:focus{box-shadow:none !important;outline:none;}
.form-control:focus{ box-shadow:none !important;}
.btn.focus, .btn:focus {box-shadow:none !important;}

.th-detailpage-head{
    color: #323c47;
    font-family: 'Lato',sans-serif;
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
}

.th-card-type{
    display: block;
    position: relative;
    width: 100vw;
    border: 0px solid transparent;
    border-radius: 3px;
}
.th-detail-card-places{
    font-family: 'Lato', sans-serif;
   font-weight: 900;
   color: #516378;
   display: block;
   font-size: 16px;
   line-height: 20px;
}
.th-detail-card-content{
    font-family: 'Lato', sans-serif;
   font-weight: 400;
   color: #516378;
   display: block;
   font-size: 14px;
}

.th-detail-card-tourhighlight{
   font-family: 'Lato', sans-serif;
   font-weight: 400;
   color: #516378;
   font-size: 14px;
   display: block;
   
}

.th-dot-red{
   color:#FA350B;
}

.th-dot-green{
   color:#40e588;
}

.th-detail-view-more{
   color: #f84b0f;
   font-size: 12px;
   font-family: 'Lato', sans-serif;
   font-weight: 700;
   text-transform: uppercase;
}
.th-detail-expand-all{
   color: #f84b0f;
   font-size: 14px;
   font-family: 'Lato', sans-serif;
   font-weight: 700;
   text-transform: uppercase;
}
.th-detail-view-more :hover{
   color: #f84b0f;
   text-decoration: none;
}
.th-detail-view-more-arrow{
   font-weight: 900;
}

.th-trip-itenary{
    color: #f84b0f;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.th-trip-itinerary-city{
    color: #f84b0f;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    border: none;
    
}

.th-trip-itinerary-city:hover{
   color: #f84b0f;
   text-decoration: none;
}

.th-trip-itinerary-body{
    border-radius: 6px;
    background-color: #fafbfb;
    
}
.th-trip-itinerary-icon i{
    font-weight: 900;
    color: #323c47;
}
.collapsed .th-trip-itinerary-icon{
    transform:rotate(180deg) !important;
}

.th-trip-itinerary-head{
    color: #323c47;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.th-trip-itinerary-content{
    color: #516378;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    
}

.th-add-activity-btn{
   color: #f84b0f;
   font-size: 12px;
   font-family: 'Lato', sans-serif;
   font-weight: 700;
   border: 1px solid #f84b0f;
   background-color: white;
   border-radius: 2px;
    
}

.th-add-hotel-btn{
   color: #f84b0f;
   font-size: 12px;
   font-family: 'Lato', sans-serif;
   font-weight: 600;
   border: 1px solid #f84b0f;
   background-color: white;
   border-radius: 4px;  
}

.th-detailpage-subhead{
    
    color: #323c47;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.th-budget-head{
    color:#323c47;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 700; 
    display: block;
}

.th-time{
    color:#323c47;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 700; 
    display: block; 
}

.th-budget-price{
    color:#f84b0f;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 700; 
    display: block; 
}

.th-budget-package-price{
    color:#f84b0f;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 700; 
}
.th-budget-pack-cost-strike{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #516378;
    font-size: 12px;
    text-decoration: line-through;
    line-height: 10px;
}
.th-detail-budget-img{
    background-position: center;
    background-size: cover;
    border-radius:3px 3px 0px 0px;
    background-repeat: no-repeat;
    height: 115px;
    width: 85%;
}


.th-detail-popup-img{
    background-position: center;
    background-size: cover;
    border-radius:6px;
    background-repeat: no-repeat;
    height: 94px;
    width: 90%;
}

.th-hotelside-img{
    background-position: center;
    background-size: cover;
    border-radius:4px;
    background-repeat: no-repeat;
    height: 78px;
    width: 120%;
}

.th-detail-budget-link{
    color: #323c47;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    border: none;
    
}
.th-budget-i{
    height:15px;
    width: 15px;
}
.th-detail-line{
    border-top:solid 1px #e0e0e0;
    
}

.th-transport-places{
    color: #516378;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;  
    
}
.th-transport-time{
    color: #323c47;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.th-transport-img{
    background-position: center;
    background-size: cover;
    border-radius:3px 3px 0px 0px;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
}
.th-transport-type{
    color: #516378;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: block;
}

.th-off-price{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 10px;
    color: #fff;
    background-color: #3996ff;
    border-radius: 3px;

}

.th-checkbox1 {
  line-height: 1;
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.th-checkbox1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border: solid 2px #f84b0f;
}

/* On mouse-over, add a grey background color */
.th-checkbox1:hover input ~ .checkmark1 {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.th-checkbox1 input:checked ~ .checkmark1 {
  background-color: #f84b0f;
  border: solid 2px #f84b0f;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark1:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.th-checkbox1 input:checked ~ .checkmark1:after {
  display: block;
}

/* Style the checkmark/indicator */
.th-checkbox1 .checkmark1:after {
  left: 4px;
  top: 0px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 1.5px 1.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.th-card-perperson{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #516378;
    font-size: 12px;

}

.th-transport-included{
    color: #f84b0f;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700; 
    text-transform: uppercase;
}

.th-popup-veg{
    color: #f84b0f;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 400; 
}

.th-hotel-card-subhead{
    color: #516378;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.th-hotel-card-label{
    color: #516378;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    
}

.th-hotel-card-value{
    color: #323c47;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.th-goback-btn{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #f84b0f;
    text-transform: uppercase;
}
.th-arrow{
    font-size: 16px;
    color: #f84b0f;
    font-weight: 700;
}

.th-change-hotel-btn{
    color: #f84b0f;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    background-color: rgb(248,75,15,0.1);
    border: none;
    text-transform: uppercase;
    border-radius: 2px;
}

.th-orange-bg-btn{
    color: #f84b0f;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    background-color: rgb(248,75,15,0.1);
    border: none;
    border-radius: 4px;
}

.th-transport-date{
    color: #516378;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
}

.th-activity-img{
    background-position: center;
    background-size: cover;
    border-radius:3px;
    background-repeat: no-repeat;
    height: 75px;
    width: 80%;
}

.th-activity-popup-img{
    background-position: center;
    background-size: cover;
    border-radius:3px;
    background-repeat: no-repeat;
    height: 75px;
    width: 95%; 
}

.th-hotel-popup-img{
    background-position: center;
    background-size: cover;
    border-radius:3px;
    background-repeat: no-repeat;
    height: 70px;
    width: 75%; 
}

.th-counter-btn-l{
    color: #f84b0f;
    background-color: #fff;
    border: 1px solid #f84b0f;
    font-size: 12px;
    border-radius: 2px 0 0 2px;
}

.th-counter-btn-r{
    color: #f84b0f;
    background-color: #fff;
    border: 1px solid #f84b0f;
    font-size: 12px;
    border-radius: 0 2px 2px 0;
    font-weight: 700;
}

.th-counter-input{
    color: #f84b0f;
    background-color: #fff;
    border-top: 1px solid #f84b0f;
    border-bottom: 1px solid #f84b0f;
    border-left: none;
    border-right: none;
    font-size: 12px; 
    font-weight: 900;
}

.th-pcounter-btn-l{
    color: #f84b0f;
    background-color: #fff;
    font-size: 12px;
    border: none;
}

.th-pcounter-btn-r{
    color: #f84b0f;
    background-color: #fff;
    font-size: 12px;
    font-weight: 900;
    border: none;
}

.th-pcounter-input{
    color: #f84b0f;
    background-color: #fff;
    font-size: 12px; 
    font-weight: 900;
    border: none;
}

.th-policy{
    color: #f84b0f;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.th-policy-link{
    color: #323c47;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    border: none;
    
}
.th-policy-body{
    color:#516378;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    
}
.th-policy-icon i{
    font-weight: 900;
}
.collapsed .th-policy-icon{
    transform:rotate(180deg) !important;
}

.th-inclusion-head{
    color:#323c47;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    
}

.th-detail-card-inclusion{
    color:#516378;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    
}

.th-card-ribbon{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 9px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius:3px;
    color: #3996ff;

}
.th-card-data-img{
    background-position: center;
    background-size: cover;
    border-radius:3px 3px 0px 0px;
    background-repeat: no-repeat;
    height: 190px;

}
.th-card-data .th-card-title{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #323c47;
    font-size: 18px;
    display: block;

}

.th-card-data .th-card-sub-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #516378;
    font-size: 12px;
    display: block;

}

.th-card-sub-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #516378;
    font-size: 12px;
    display: block;

}

.th-card-data .th-card-sub-title-dark{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #516378;
    font-size: 12px;

}

.th-card-data .th-card-extra-sub-title{
    color:#3996ff;
}

.th-card-data .th-card-sub-title-1{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #323c47;
    font-size: 14px;
    display: block;

}

.th-card-data .th-card-price{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #323c47;
    font-size: 15px;
    line-height: 30px;

}

.th-card-data .th-card-price-lg{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #323c47;
    font-size: 28px;
    line-height: 30px;

}

.th-card-price-sm{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #323c47;
    font-size: 12px;

}

.th-popup-price{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #f84b0f;
    font-size: 14px;
}

.th-card-data .th-card-pp{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #516378;
    font-size: 12px;

}

.th-card-data .th-card-pp-lg{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #516378;
    font-size: 16px;

}

.th-card-data .th-card-price-saved{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #ff8a00;
    font-size: 12px;
    line-height: 30px;

}

.th-card-data .th-card-price-strike{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #516378;
    font-size: 12px;
    text-decoration: line-through;
    line-height: 10px;
}

.search-date1{width: 100%;} 
.th-date-bar{display: none;}
.th-travel-bar{display: none;}
.th-travel-bar-subhead{
   color: #516378;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 700; }
.active{display: block;}

.th-price-data{display: none;}

.th-detail-travel-selector .add-activity{
    color: #f84b0f;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 400; 
    text-transform: uppercase;
}

.th-detail-travel-selector{
    background-color: rgb(248,75,15,0.1);
    
}
.th-detail-travel-selector .info{
    color: #516378;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 400; 
}
.th-detail-travel-selector .info-detail{
    background-color: transparent;
    border:none;
    color: #f84b0f;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 700; 
}

.th-detail-travel-selector .add-activity{
    color: #f84b0f;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 400; 
    text-transform: uppercase;
}

.th-card-promotion{
    background-position: center;
    background-size: cover;
    border-radius:5px;
    background-repeat: no-repeat;
    background-color: #4565ae;
    height: 100px;
    border-radius: 3px;
    
}
.th-card-promotion-title{
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 15px; 
    display: block;
}
.th-card-promotion-subtitle{
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12px; 
    display: block;
}

.th-btn{
     background: linear-gradient(-90deg, #f84b0f, #ff8a00);
     font-size: 12px; 
     color: #fff;
   
}

.th-dark-icon{
    font-weight: 700;
}

.th-color-btn{
  border:none;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  text-align: center;
  line-height: 20px;
  color:#fff;
  border-radius: 4px;
  background-image: linear-gradient(-90deg, #f84b0f, #ff8a00);
}
.th-color-btn:hover{
    color: #fff;
}

.th-bordered-btn{
  border: solid 1.5px #f84b0f;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  color: #f84b0f;
  background-color:white;
  border-radius: 4px;
}
.th-bordered-btn:hover{
    color: #f84b0f;
}

.th-orange-text{
    color: #f84b0f;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

@media (min-width: 768px){
  .th-detail-right-padding {
    padding-right:4%;
  }
}

.search-date1{width: 100%;} 
.th-date-bar{display: none;}
.th-travel-bar{display: none;}
.th-travel-bar-subhead{
   color: #516378;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 700; }
.active{display: block;}

.plus-minus-input .input-group-button .circle {
    font-size: 10px;
    color: #f84b0f;
    background-color: transparent;
    border: solid 1.5px #f84b0f;
    border-radius: 50%;
    padding: 3px 5px;
}

.plus-minus-input .input-group-field1 {
    background-color: transparent;
    border: none;
    text-align: center;
    width: 40px;
    color: #f84b0f;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
}

.th-popup-icon{
    height: 20px;
}

.th-popup-carusol-img
{
    background-position: center;
    background-size: cover;
    border-radius:5px;
    background-repeat: no-repeat;
    height: 280px;
    width: 100%;
}

