body{
    background-color: #fcfcfd;
}
/* font-family */
.th-lato{
    font-family: 'Lato', sans-serif;
}
.th-roboto{
    font-family: 'Roboto', sans-serif;
}

/* font-weight */
.th-bold{
    font-weight: bold;
}
.th-300{
    font-weight: 300;
}
.th-700{
    font-weight: 700;
}

/* font-size */
.th-12{
    font-size: 12px;
}
.th-14{
    font-size: 14px;
}
.th-18{
    font-size: 18px;
}
.th-22{
    font-size: 22px;
}
.th-24{
    font-size: 24px;
}

/* font-color */
.th-grey{
    color: #516378;
}
.th-black{
    color: #323c47;
}

/* homepage */
/* why book with us */


/* footer */
.th-footer{
    background-color: #ffffff;
}
.th-footer-list{
    padding-left: 0px;
    list-style-type: none;
}
.th-footer-list :hover{
    text-decoration: none;
    color: #f84b0f;
}
.th-footer-input{
    height: 57px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: solid 1px #8a9bad;
    background-color: #fcfcfd;
}
.th-footer-input::placeholder{
    padding-left: 8px;
    color: rgba(0, 0, 0, 0.24);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}
.th-footer-button{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #ffffff;
    cursor:pointer;
    border:none;
    height:57px;
    background: linear-gradient(-90deg, #f84b0f, #ff8a00);
}
/* //footer */