/* GENERAL */
html{
    overflow-x: hidden !important;
}
body{
    width: 100%;
    overflow-x: hidden !important;
}
::-webkit-scrollbar {
    height: 0px !important;
    width: 0px !important;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body{
    background-color: #fcfcfd;
}
/* font-family */
.th-lato{
    font-family: 'Lato', sans-serif;
}
.th-roboto{
    font-family: 'Roboto', sans-serif;
}
.th-bebas{
    font-family: 'Bebas Neue', cursive;
}

/* font-weight */
.th-bold{
    font-weight: bold;
}
.th-300{
    font-weight: 300;
}
.th-700{
    font-weight: 700;
}

/* font-size */
.th-12{
    font-size: 12px;
}
.th-14{
    font-size: 14px;
}
.th-18{
    font-size: 18px;
}
.th-20{
    font-size: 20px;
}
.th-22{
    font-size: 22px;
}
.th-24{
    font-size: 24px;
}

/* font-color */
.th-grey{
    color: #516378;
}
.th-black{
    color: #323c47;
}
.th-orange{
    color: #f84b0f;
}
.th-white{
    color: #ffffff !important;
}
.th-grey-2{
    color: rgba(50, 60, 71, 0.58);
}

/* link */
.th-link-1 :hover{
    text-decoration: none;
}

/* opacity */
.th-opacity-84{
    opacity: 0.84;
}

/* CARDS */
.th-card{
    display: flex;
    float: left;
}
.th-card-body-bestseller{
     margin-right: 0.5rem;
     margin-left: 0.5rem;
    /* margin-bottom: 0.5rem; */
    display: block;
    position: relative;
    height: 220px;
}
.th-card-img
{
    background-position: center;
    background-size: cover;
    border-radius:5px;
    background-repeat: no-repeat;
    height: 220px;
}
.th-card-bestseller{
    right: 0;
    margin-top: 6px;
    margin-right: 8px;
    height: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 9px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding:4px 8px;
    border-radius:3px;
    font-size: 10px;
    color: #f7ba44;
}
:focus{outline: none !important;}
.th-card-a{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #fff;
    line-height: 14px;
    margin-top: -15px;
}
.th-card-price{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #868ef5;
    font-size: 32px;
    line-height: 36px;
}
.th-card-offer{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
}
.th-card-type-3{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    display: block;
    position: relative;
    border: 0px solid transparent;
    border-radius: 3px;
}
.th-card-type-3 .th-card-ribbon{
    right: 0;
    margin-top: 16px;
    margin-right: 16px;
    height: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding:4px 8px;
    border-radius:3px;
    font-size: 10px;
    color: #3996ff;
}
.th-card-type-3 .th-card-ribbon-2{
    right: 0;
    margin-top: 16px;
    margin-right: 16px;
    height: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding:4px 8px;
    border-radius:3px;
    font-size: 10px;
    color: #3996ff;
}
.th-card-type-3 .th-card-ribbon-3{
    right: 0;
    top: 170px;
    margin-right: 16px;
    height: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding:4px 8px;
    border-radius:3px;
    font-size: 10px;
    color: #3996ff;
}
.th-card-type-3 .th-card-ribbon-4{
    left: 0;
    top: 170px;
    margin-left: 16px;
    height: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding:4px 8px;
    border-radius:3px;
    font-size: 10px;
    color: #3996ff;
}
.th-card-type-3 .th-card-ribbon-4{
    left: 0;
    top: 170px;
    margin-left: 16px;
    height: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding:4px 8px;
    border-radius:3px;
    font-size: 10px;
    color: #3996ff;
}
.th-dif-level-bar{
    border-radius: 3px;
    background-color: #ebedf8;
    height: 17px;
}
.th-dif-level-easy {
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #eeeeee;
    text-align: center;
    width: max-content;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 3px;
    background-color: #62cf6e;
}
.th-dif-level-difficult{
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #eeeeee;
    text-align: center;
    width: max-content;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 3px;
    background-color: #f84b0f;
}
.th-card-type-3 .th-card-data-img{
    background-position: center;
    background-size: cover;
    border-radius:3px 3px 0px 0px;
    background-repeat: no-repeat;
    height: 200px;
}
.th-card-type-3 .th-card-data .th-card-title{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #323c47;
    font-size: 16px;
    display: block;
}

.th-card-type-3 .th-card-data .th-card-sub-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #516378;
    font-size: 14px;
    display: block;
}

.th-card-type-3 .th-card-data .th-card-extra-sub-title{
    color:#3996ff;
}
.th-card-type-3 .th-card-data .th-card-sub-title-1{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #323c47;
    font-size: 12px;
    display: block;
}

.th-card-type-3 .th-card-data .th-card-price{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #323c47;
    font-size: 15px;
    line-height: 32px;
}
.th-card-type-3 .th-card-data .th-card-pp{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #516378;
    font-size: 12px;
}
.th-card-type-3 .th-card-data .th-card-price-saved{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #ff8a00;
    font-size: 12px;
    display: block;
}
.th-card-type-3 .th-card-data .th-card-price-strike{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #516378;
    font-size: 14px;
    display: block;
    text-decoration: line-through;
    line-height: 32px;
}
.slick-next::before {
    content: '\203A' !important; color: #000e !important;
}
.slick-prev:before {
    content: '\2039' !important; color: #000 !important;
}
.th-card-promotion2{
    background-position: center;
    background-size: cover;
    border-radius:5px;
    background-repeat: no-repeat;
    height: 160px;
}
.th-card-promotion-grad{
    border-radius:5px;
    height: 100%;
    background: linear-gradient(90deg,  RGB(23, 32, 42,0.2), RGB(23, 32, 42,0.9));
}
.th-card-promotion-grad1{
    border-radius:5px;
    height: 100%;
    background: linear-gradient(180deg,  RGB(23, 32, 42,0.2), RGB(23, 32, 42,0.9));
}
.th-card-promotion2-title{
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    display: block;
    text-transform: uppercase;
}
.th-card-promotion2-ribbon{
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    height: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding:4px 8px;
    border-radius:3px;
    font-size: 10px;
    color: #3996ff;
}
.th-card-promotion2-justin{
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12px; 
    display: block;
    position: absolute;
    bottom:45px;
    right: 20px;
    margin-left: 8px;
}
.th-card-promotion2-price{
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
    font-size: 34px; 
    display: block;
    text-transform: uppercase; 
    position: absolute;
    bottom:0;
    right: 20px;
    margin-left: 8px;
}
.th-card-type-4{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    display: block;
    position: relative;
    border: 0px solid transparent;
    border-radius: 3px;
}
.th-card-type-4 .th-card-ribbon{
    right: 0;
    margin-top: 16px;
    margin-right: 16px;
    height: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 9px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding:4px 8px;
    border-radius:3px;
    font-size: 10px;
    color: #3996ff;
    z-index: 10000;
}
.th-card-type-4 .th-card-data-img{
    background-position: center;
    background-size: cover;
    border-radius:3px 3px 3px 3px;
    background-repeat: no-repeat;
    height: 300px;
}



/* HEADER */
.th-cat-link{
    color: #323c47;
    font-family: 'Lato', sans-serif;
    font-size: 14PX;
}
.th-cat-link:hover{
    color: #f84b0f;
    text-decoration: none;
}
.th-cat-name{
    margin-top: 16px;

/* HOMEPAGE */
/* popular destinations */
/* Ritzy Holiday Packages */
/* honeymoon for every budget */
/* Smart traveller */
.th-box-smart{
    background-image: linear-gradient(to bottom, #2665ac, #497ab3);
    height: 96px;
}
.th-box-smart-background{
    background-image: url(img/img-1.png);
    height: 100%;
    max-height: max-content;
    background-position: right;
    background-repeat: no-repeat;
}
/* super offers */
/* trekking packages */
/* popular activities */
/* popular trekking */
/* join us */

.th-btn-book{
    height: 42px;
    border-radius: 3px;
    cursor:pointer;
    border:none;
    background: linear-gradient(-90deg, #f84b0f, #ff8a00);
}
/* cities */
.th-box-city-image{
    height: 60px;
    width: 60px !important;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* why book with us */



/* FOOTER */
.th-footer{
    background-color: #ffffff;
}
.th-footer-list{
    padding-left: 0px;
    list-style-type: none;
}
.th-footer-list :hover{
    text-decoration: none;
    color: #f84b0f;
}
.th-footer-input{
    height: 57px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: solid 1px #8a9bad;
    background-color: #fcfcfd;
}
.th-footer-input::placeholder{
    padding-left: 8px;
    color: rgba(0, 0, 0, 0.24);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}
.th-footer-button{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #ffffff;
    cursor:pointer;
    border:none;
    height:57px;
    background: linear-gradient(-90deg, #f84b0f, #ff8a00);
}
.slick-disabled
{
    display: none !important;
    opacity: 0 !important;
}
.th-btn-slider{
    
    line-height: 15px !important;background-color:#fff !important;height:50px !important;width:50px !important;border-radius:50% !important;z-index:1000;margin-left:5px;
}

/* model */
.th-modal-width-80 {
    max-width: 400px;
    margin-top: 2%;
}
.th-icon-white{
    color: white;
}
.th-login-fb{
    border: none; 
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
    background-color: #3f5e95;
}
.th-login-google{
    border: none; 
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
    background-color: #e35c3b;
}
.th-login-input{
    height: 42px;
}
