.th-nav{
    background-color:#fff !important;
}
.th-nav .navbar{
    background-color: transparent !important;
}

.navbar .dropdown {position:static;}
.navbar-nav div.dropdown-menu {
    width:60% !important;
    left:20%;
    right:0;
    border:none;
}

.navbar-nav li:hover > div.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 


.th-header-btn
{
    
    background-color: rgb(248, 75, 15, .06);
    color: #f84b0f !important;
}
.th-header-icon{height: 12 px;}

.th-header-circle-img{
    border-radius: 50%;
    height: 56px;
    width: 56px;
    background-size: cover;
    background-position: center;
    background-image: url('../img/bhutan.jpg');
}


.th-header-dw-title{
    font-family: Lato, sans-serif;
    font-size: 18px;
    color: #323c47;
    line-height: 24px;
    font-weight: bold;
}
.th-header-dw-subtitle{
    font-family: Lato, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #516378;
}

.th-bg-white
{
    background-color: #fff;
}

.th-select{
    width: 100%;
    border:none;
}
option:checked{
    background:#000 !important;
    color: #fff !important;
  }
  option:hover {
    background:#000 !important;
    color: #fff !important;
  }

.th-date-bar{display: none;}
.th-btn{
    color:#fff !important;
    background: linear-gradient(-90deg, #f84b0f, #ff8a00);}

.active{
    display: block !important;
    transition: all 0.5s ease-in-out;
}